body {
    text-align: left;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 300px;
    margin-left: 300px;
    background-color: white;
    ;
}

p {
    font-family: 'Droid Sans', sans-serif;
    color: black;
}

li {
    font-family: 'Merriweather', serif;
    font-size: 25px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: black;
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: black;
}

h3 {
    font-family: 'Droid Sans', sans-serif;
    color: black;
}

h6 {
    font-family: 'Droid Sans', sans-serif;
    color: black;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#rightObject {
    float: left;
}

#centerheader {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.mainpage {
    color: white;
}

a:link,
a:visited {
    background-color: #cb7972;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

.staffhello {
    background-color: #cb7972;
    color: white;
    padding: 14px 25px;
    text-decoration: none;
    border-radius: 10px;
}